<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


<div id="boxAddModal" class="modal">
  <div class="modal-content">
      <span class="close" style="color: red;" id="closeModalBtn"><i class="fas fa-times-circle"></i></span>
      <form id="dataForm">
          <!-- 입력 필드 및 저장 버튼 -->
          <div class="form-group">
              <label for="id">상자번호:</label>
              <input type="text" name="box_id" placeholder="상품번호">
          </div>

          <!-- 나머지 입력 필드 추가 -->
          <button type="button" id="boxDataAddBtn">추가</button>
      </form>
  </div>
</div>

<div id="boxDeleteModal" class="modal">
  <div class="modal-content">
      <span class="close" style="color: red;" id="closeDeleteModalBtn"><i class="fas fa-times-circle"></i></span>
      <form id="deleteForm">
          <!-- 수정할 데이터 필드 -->
          <p style="margin: 0; text-align: center;">정말 삭제하시겠습니까?</p>
            <button type="button" id="deleteDataBtn">예</button>
      </form>
  </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                토트 관리
            </div>
            <div>
                <button id="boxAddBtn" type="button" class="btn btn-success">토트 추가</button>
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>상자번호</th>
                    <th>가용여부</th>
                    <th>마감여부</th>
                    <th>포장유형</th>
                    <th>변경</th>
        
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>상자번호</th>
                    <th>가용여부</th>
                    <th>마감여부</th>
                    <th>포장유형</th>
                    <th>변경</th>

                </tr>
            </tfoot>
            <tbody>
                <% boxes.forEach(box => { %>
                    <tr>
                      <td><a href="/admin/box/<%= box.box_id %>"><%= box.box_id %></a></td>
                      <td><%= box.availability %></td>
                      <td><%= box.deadline_status %></td>
                      <td><%= box.packing_type %></td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu">
                            <button id="availBtn<%= box.box_id %>" class="dropdown-item" data-id="<%= box.box_id %>">
                              <i class="bx bx-edit-alt me-1"></i> 가용화
                            </button>
                            <button id="unavailBtn<%= box.box_id %>" class="dropdown-item" data-id="<%= box.box_id %>">
                              <i class="bx bx-edit-alt me-1"></i> 불가용화
                            </button>
                            <button id="deadlineBtn<%= box.box_id %>" class="dropdown-item" data-id="<%= box.box_id %>">
                              <i class="bx bx-edit-alt me-1"></i> 마감취소
                            </button>
                            <button id="boxDeleteModalBtn<%= box.box_id %>" class="dropdown-item" data-id="<%= box.box_id %>">
                              <i class="bx bx-trash me-1"></i> 삭제
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% }); %>
            </tbody>
        </table>
    </div>
</div>

<script>
// 모달 열기
document.getElementById("boxAddBtn").addEventListener("click", function() {
  openModal("boxAddModal");
});

// 모달 닫기
document.getElementById("closeModalBtn").addEventListener("click", function() {
  closeModal("boxAddModal");
});

// 모달 외부 클릭 시 닫기
window.addEventListener("click", function(event) {
  if (event.target == document.getElementById("boxAddModal")) {
    closeModal("boxAddModal");
  }
});

// 데이터 추가 버튼 클릭 시
document.getElementById("boxDataAddBtn").addEventListener("click", function() {
  // 입력된 데이터 수집
  const formData = new FormData(document.getElementById("dataForm"));

  const data = {};
    formData.forEach((value, key) => {
    data[key] = value;
    });

  // 서버로 데이터 전송
  fetch("/admin/add-box", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
    // 서버 응답 처리
    if (data.success) {
      // 데이터 추가가 성공하면 모달 닫기 또는 다른 작업 수행
      document.getElementById("boxAddModal").style.display = "none";
      alert('추가 완료');
      location.reload();
    } else {
      // 데이터 추가가 실패하면 오류 메시지를 사용자에게 표시
      alert(data.message);
    }
  });
});



// 삭제 모달 열기
document.addEventListener("click", function(event) {
  if (event.target.id.includes("boxDeleteModalBtn")) {
    openModal("boxDeleteModal");
    const Id = event.target.getAttribute("data-id");
    console.log(Id)
    window.moveId = Id;
  }
});

// 삭제 모달 닫기
document.getElementById("closeDeleteModalBtn").addEventListener("click", function() {
  closeModal("boxDeleteModal");
});

// 수정 모달 외부 클릭 시 닫기
window.addEventListener("click", function(event) {
    if (event.target == document.getElementById("boxDeleteModal")) {
      closeModal("boxDeleteModal");
    }
});


// 데이터 삭제 버튼 클릭 시
document.getElementById("deleteDataBtn").addEventListener("click", function() {

    const boxId = window.moveId;
    console.log(boxId);

    fetch("/admin/delete-box/" + boxId, { 
        method: "DELETE", 
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(response => response.json())
    .then(data => {
        // 서버 응답 처리
        if (data.success) {
            document.getElementById("boxDeleteModal").style.display = "none";
            alert('삭제 완료');
            location.reload(); 

        } else {
            alert(data.message);
        }
    });
});

// 가용화 버튼 클릭 시
document.addEventListener("click", function(event) {
  if (event.target.id.includes("availBtn")) {
    const Id = event.target.getAttribute("data-id");
    fetch("/admin/avail-box/" + Id, { 
    method: "PUT", 
    headers: {
        'Content-Type': 'application/json'
    },
    })
    .then(response => response.json())
    .then(data => {
        // 서버 응답 처리
        if (data.success) {
            location.reload(); 
        } else {
            alert(data.message);
        }
      });
  }
});

// 불가용화 버튼 클릭 시
document.addEventListener("click", function(event) {
  if (event.target.id.includes("unavailBtn")) {
    const Id = event.target.getAttribute("data-id");
    fetch("/admin/unavail-box/" + Id, { 
    method: "PUT", 
    headers: {
        'Content-Type': 'application/json'
    },
    })
    .then(response => response.json())
    .then(data => {
        // 서버 응답 처리
        if (data.success) {
            location.reload(); 
        } else {
            alert(data.message);
        }
      });
  }
});

// 마감취소 버튼 클릭 시
document.addEventListener("click", function(event) {
  if (event.target.id.includes("deadlineBtn")) {
    const Id = event.target.getAttribute("data-id");
    fetch("/admin/cancel-deadline/" + Id, { 
    method: "PUT", 
    headers: {
        'Content-Type': 'application/json'
    },
    })
    .then(response => response.json())
    .then(data => {
        // 서버 응답 처리
        if (data.success) {
            location.reload(); 
        } else {
            alert(data.message);
        }
      });
  }
});

function openModal(modalId) {
  document.getElementById(modalId).style.display = "block";
}

function closeModal(modalId) {
  document.getElementById(modalId).style.display = "none";
}

</script>
