<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<% var product=typeof products !=='undefined' ? products : [] %>

    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-table me-1"></i>
                    주문상세 관리
                </div>
            </div>

        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>주문상세번호</th>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>집품 여부</th>
                        <th>집품 작업자ID</th>
                        <th>리빈 여부</th>
                        <th>리빈 작업자ID</th>
                        <th>포장 여부</th>
                        <th>포장 작업자ID</th>
                        <th>변경</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>주문번호</th>
                        <th>주문상세번호</th>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>집품 여부</th>
                        <th>집품 작업자ID</th>
                        <th>리빈 여부</th>
                        <th>리빈 작업자ID</th>
                        <th>포장 여부</th>
                        <th>포장 작업자ID</th>
                        <th>변경</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% orderDetails.forEach(orderDetail=> { %>
                        <tr>
                            <td>
                                <%= orderDetail.order_id %>
                            </td>
                            <td>
                                <%= orderDetail.orderdetail_id %>
                            </td>
                            <td>
                                <%= orderDetail.product_id %>
                            </td>
                            <td>
                                <%= orderDetail.product_name %>
                            </td>
                            <td>
                                <%= orderDetail.quantity %>
                            </td>
                            <td>
                                <%= orderDetail.picking_flag %>
                            </td>
                            <td>
                                <%= orderDetail.picking_worker_id %>
                            </td>
                            <td>
                                <%= orderDetail.rebin_flag %>
                            </td>
                            <td>
                                <%= orderDetail.rebin_worker_id %>
                            </td>
                            <td>
                                <%= orderDetail.packing_flag %>
                            </td>
                            <td>
                                <%= orderDetail.packing_worker_id %>
                            </td>



                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button id="editModalBtn<%= product.id %>" class="dropdown-item"
                                            data-product-id="<%= product.id %>">
                                            <i class="bx bx-edit-alt me-1"></i> Edit
                                        </button>
                                        <button id="deleteModalBtn<%= product.id %>" class="dropdown-item"
                                            data-product-id="<%= product.id %>">
                                            <i class="bx bx-trash me-1"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <div class="center-align">
                <a onclick="goBack()" id="backbtn" type="button" class="btn btn-dark">뒤로 가기</a>
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>