<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>작업자 페이지 - 집품작업</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">집품 작업</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Picking</li>
                            </ol>

                            <div class="container">
                                <div class="sidebar">
                                    <h1>2. 해당 상품을 토트에 담아주세요.</h1>

                                </div>
                                <div class="main-content">
                                    <img src="<%= orders[0].image %>" alt="상품 이미지" class="product-image" width="200">
                                    <h3>주문번호 : <%= orders[0].orderid.toString() %>
                                    </h3>
                                    <h3>상품번호 : <%= orders[0].productid.toString() %>
                                    </h3>
                                    <h3>상품명 : <%= orders[0].name.toString() %>
                                    </h3>
                                    <h3 style="color: red;">집품 수량 : <%= orders[0].quantity.toString() %>
                                    </h3>
                                    <h3>진열된 위치 : <%= orders[0].location %>
                                    </h3>
                                </div>
                                <div class="footer">
                                    <p>현재 토트 번호 : <%= boxId %>
                                    </p>
                                    <div style="display: flex; justify-content: center;">
                                        <form action="/work/boxinsert" method="post">
                                            <input type="hidden" name="boxId" value="<%= boxId %>">
                                            <input type="hidden" name="orders" value="<%= JSON.stringify(orders) %>">
                                            <button type="submit" id="insertbtn" class="btn btn-success">담기 완료</button>
                                        </form>
                                        <form action="/work/boxfinish" method="post">
                                            <input type="hidden" name="boxId" value="<%= boxId %>">
                                            <button type="submit" id="finishbtn" class="btn btn-danger"
                                                style="margin-left:5px;">토트 마감</button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </main>
                    <%- include('footer.ejs')%>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
</body>

</html>