<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>작업자 페이지 - 리빈작업</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">리빈 작업</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Rebin</li>
                            </ol>

                            <div class="container">
                                <div class="sidebar">
                                    <h1>2. 해당 토트 안의 상품들을 리빈 셀에 넣어주세요.</h1>

                                </div>
                                <div class="main-content">
                                    <div
                                        style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px;">
                                        <div class="mb-3">
                                            <img src="<%= results[0].image %>" alt="상품 이미지" class="product-image"
                                                width="200">
                                            <h3>상품번호 : <%= results[0].productId.toString() %>
                                            </h3>
                                            <h3>상품명 : <%= results[0].name.toString() %>
                                            </h3>
                                            <h3 style="color: red;">수량 : <%= results[0].quantity.toString() %>
                                            </h3>
                                            <h3>리빈 셀 위치 : <%= results[0].rebin_rack_id %>
                                            </h3>
                                        </div>
                                    </div>
                                    <button id="finishbtn" class="btn btn-success">배치 완료</button>

                                </div>
                                <div class="footer d-flex justify-content-between align-items-center">
                                    <p class="m-0">현재 작업대 번호 : <%= workbenchId %> <br>현재 집품상자 번호 : <%= boxId %>
                                    </p>
                                    <p style="font-size: x-large;" class="m-0">남은 상품 수 : <%= remainCount %>
                                    </p>

                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-secondary me-md-2" type="button">완료 셀 조회</button>
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary">
                                                <input type="checkbox" name="options" id="option1" autocomplete="off"
                                                    checked> 작업 할당 받기
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </main>
                    <%- include('footer.ejs')%>
                </div>
                <input type="hidden" id="orderDetailId" value="<%= results[0].orderdetail_id %>">
                <input type="hidden" id="boxId" value="<%= boxId %>">
                <input type="hidden" id="workbenchId" value="<%= workbenchId %>">
                <input type="hidden" id="rebinrackId" value="<%= results[0].rebin_rack_id %>">
                <input type="hidden" id="orderId" value="<%= results[0].order_id %>">


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script>
            document.getElementById("finishbtn").addEventListener("click", function () {
                const orderDetailId = document.getElementById("orderDetailId").value;
                const boxId = document.getElementById("boxId").value;
                const workbenchId = document.getElementById("workbenchId").value;
                const rebinrackId = document.getElementById("rebinrackId").value;
                const orderId = document.getElementById("orderId").value;


                fetch("/work/finish-rebin/", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ boxId, workbenchId, orderDetailId, rebinrackId, orderId }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/work/rebin3?boxId=" + boxId + "&workbenchId=" + workbenchId;
                            location.reload();

                        } else {
                            alert(data.message);
                        }
                    });
            });
        </script>


</body>

</html>