<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>작업자 페이지 - 포장작업</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">포장 작업(다중)</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Multi Packing</li>
                            </ol>

                            <div class="container">
                                <div class="sidebar">
                                    <h1>2. 해당 셀에 담긴 상품들의 송장을 출력해주세요.</h1>

                                </div>
                                <div class="main-content">
                                    <div class="row">
                                        <% results.forEach(result => { %>
                                            <div class="col-md-4">
                                                <img src="<%= result.image%>" alt="상품 이미지" class="product-image" width="200">
                                                <h3>주문번호 : <%= result.orderId.toString() %></h3>
                                                <h3>상품번호 : <%= result.productId.toString() %></h3>
                                                <h3>상품명 : <%= result.name.toString() %></h3>
                                                <h3 style="color: red;">포장 수량 : <%= result.quantity.toString() %></h3>
                                                <h3>배송지 : <%= result.shipping_address%></h3>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                                
                                <div class="footer d-flex justify-content-between align-items-center">
                                    <p class="m-0">현재 작업대 번호 : <%= workbenchId %><br>현재 리빈 셀 번호 : <%= rebinrackId %></p>
                                    <form action="/work/trackingNumber-multi" method="post">
                                        <input type="hidden" name="workbenchId" value="<%= workbenchId %>">
                                        <input type="hidden" name="rebinrackId" value="<%= rebinrackId %>">
                                        <input type="hidden" name="orderId" value="<%= results[0].orderId.toString() %>">
                                        <button type="submit" id="printbtn" class="btn btn-primary">송장 출력</button>
                                    </form>
                                    <p style="visibility: hidden;">현재 작업대 번호 : <%= workbenchId %></p>
                                </div>
                            </div>


                        </div>
                    </main>
                    <%- include('footer.ejs')%>
                </div>
                <input type="hidden" id="workbenchId" value="<%= workbenchId %>">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        
          
</body>

</html>