<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>작업자 페이지 - 포장작업</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="../css/main.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">포장 작업</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Picking</li>
                        </ol>
                        
                        <div class="container">
                            <div class="sidebar">
                                <h1 id="title">3. 해당 상품을 박스에 포장하고 송장을 부착해주세요.</h1>
                                
                            </div>
                            <div class="main-content">
                                <img src="../assets/img/양파.jpg" alt="상품 이미지" class="product-image" width="200">
                                <h3>상품번호 : <%= orders[0].productid.toString() %></h3>
                                <h3>상품명 : <%= orders[0].name.toString() %></h3>
                                <h3 style="color: red;">포장 수량 : <%= orders[0].quantity.toString() %></h3>
                                <h3>배송지 : <%= orders[0].shipping_address%></h3>
                            </div>
                            <div class="footer">
                                <p>현재 토트 번호 : <%= boxId %></p>
                                <p>송장 번호 : <%= trackingNumber %></p>
                                <div style="display: flex; justify-content: center;">
                                <form action="/work/finish-packing" method="post">
                                    <input type="hidden" name="boxId" value="<%= boxId %>">
                                    <input type="hidden" name="orderId" value="<%= orders[0].orderid %>">
                                    <button type="submit" id="packingfinishbtn" class="btn btn-success">포장 완료</button>
                                </form>
                                
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </main>
                <%- include('footer.ejs')%>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script>
            const boxId = '<%= boxId %>';
            const trackingNumber = '<%= trackingNumber %>';
            const orderId = '<%= orders[0].orderid %>';
            const productName = '<%= orders[0].name %>';
            const address = '<%= orders[0].shipping_address %>';
            

            fetch('/work/generatePDF', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ boxId, trackingNumber, orderId, productName, address }),
            })
            .then(response => response.blob())
            .then(blob => {
                const url = URL.createObjectURL(blob);

                const iframe = document.createElement('iframe');
                iframe.style.display = 'none';
                iframe.src = url;
                document.body.appendChild(iframe);

                iframe.contentWindow.onload = () => {
                iframe.contentWindow.print();
                };
            });
        </script>
        
    </body>
</html>
