<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>작업자 페이지 - 진열작업</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">진열 작업</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Display</li>
                            </ol>

                            <div class="container">
                                <div class="sidebar">
                                    <h1 id="title">2. 해당 상품을 진열할 진열대 바코드를 스캔 또는 입력해주세요. </h1>

                                </div>
                                <div class="main-content">
                                    <img src="<%= product[0].image%>" alt="상품 이미지" class="product-image" width="200">
                                    <h3>상품번호 : <%= product[0].id.toString() %>
                                    </h3>
                                    <h3>상품명 : <%= product[0].name.toString() %>
                                    </h3>
                                    <h3 style="color: red;">진열 가능 수량 : <%= product[0].stock %>
                                    </h3>

                                    <div class="mb-3">
                                        <div class="custom-center">
                                            <input type="email" class="form-control custom-input" id="productshelf"
                                                placeholder="상품 진열대 번호">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div style="display: flex; justify-content: center;">
                                        <button id="displayshelfbtn" class="btn btn-primary">진열대 선택</button>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </main>
                    <%- include('footer.ejs')%>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script>

            const productId = '<%= product[0].id %>';

            document.getElementById("displayshelfbtn").addEventListener("click", function () {
                const productShelfNumber = document.getElementById("productshelf").value;
                console.log(productShelfNumber)

                fetch("/work/productShelfCheck/" + productShelfNumber, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/work/display3?productShelfId=" + productShelfNumber + "&productId=" + productId;
                        } else {
                            alert(data.message);
                        }
                    });
            });
        </script>

</body>

</html>